@font-face {
    font-family: "DJVM";
    font-weight: 400;
    src: url(../fonts/DejaVuSansM.eot);
    src: url(../fonts/DejaVuSansM.eot?#iefix) format("embedded-opentype"),
         url(../fonts/DejaVuSansM.woff) format("woff"),
         url(../fonts/DejaVuSansM.ttf) format("truetype"),
         url(../fonts/DejaVuSansM.svg) format("svg");
}

@font-face {
    font-family: "DJVM";
    font-weight: 700;
    src: url(../fonts/DejaVuSansM-Bold.eot);
    src: url(../fonts/DejaVuSansM-Bold.eot?#iefix) format("embedded-opentype"),
         url(../fonts/DejaVuSansM-Bold.woff) format("woff"),
         url(../fonts/DejaVuSansM-Bold.ttf) format("truetype"),
         url(../fonts/DejaVuSansM-Bold.svg) format("svg");
}